.footer {

    height:400px;
    background-color:#8a8a8a;
    color:white;

}

.footer-title {
height:205px;



}

.footer-title h1 {
padding:50px;
text-align:center;
margin:auto;
font-weight:700;
font-size:calc(12px + 1vw);
text-transform:uppercase;
letter-spacing: 12px;
}

.footer-social-media {

display:flex;
width:100%;
height:145px;
margin:auto;
justify-content:center;
}

    .footer-social-media svg {
    margin:0px 26px 0px 26px;
    font-size:41px; 
    transition:0.3s ease-in;
    }

    .footer-social-media svg:hover {
       opacity:0.7;
       transition:0.3s ease-in;
        }

.footer-rights {
height:50px;
bottom:0;
background-color:var(--main-font-color);
display:flex;
justify-content:center;
}

.footer-rights p {
    text-align:center;
    margin:auto;
    font-size:14px;

    }
