.footer {

    height:400px;
    background-color:#8a8a8a;
    color:white;

}

.footer-title {
height:205px;



}

.footer-title h1 {
padding:50px;
text-align:center;
margin:auto;
font-weight:700;
font-size:calc(12px + 1vw);
text-transform:uppercase;
letter-spacing: 12px;
border-bottom: 1px solid white;
width:40%;
}

.footer-social-media {
  width: 50%;
  display: flex;
  flex-direction: row;
  height: 145px;
  justify-content: center;
  margin: auto !important;
}

    .footer-social-media svg {
    margin:auto 24px auto 24px;
    font-size:41px; 
    transition:0.3s ease-in;
    }

    .footer-social-media svg:hover {
       opacity:0.7;
       transition:0.3s ease-in;
        }

.footer-rights {
height:50px;
bottom:0;
background-color:var(--main-font-color);
display:flex;
justify-content:center;
}

.footer-rights p {
    text-align:center;
    margin:auto;
    font-size:14px;

    }


    .footer-navigations {
        width:50%;
        display:flex;
        flex-direction:column;
        height:145px;
        justify-content:center;
        margin:auto;
    }

    .footer-navigations a {
        font-size:12px;
        line-height:1.3;
        transition: 0.2s;
    }

    .footer-navigations a:hover {
        transition: 0.2s;
        opacity:0.7;
    }

    .footer-social-navigation {
        display:flex;
        text-align:center;
    }