:root {
  --container-color: #fff8eb;
  --main-font-color: #3e3e3e;
  --linearGradient: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --cardsColor: #f0f0f04d;
  --navbar-color: white;
  --transparent: #fff8eb;
  --focus: rgb(59, 201, 244);
  --home-image-filter: ;
  --svg-line:#3e3e3e;
  --navbar-text:white;
  --navbar-text-trans:#3e3e3e;
  --single-blog-container-color:#ececec;
}

body {
  background: #dadada;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  transition: background-image 0.3s ease, color 0.3s ease;
  color:white;

}

.transition {
  transition: background-image 0.3s ease, color 0.3s ease;
}



@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Caveat:wght@400;500;600;700&family=Dosis:wght@300&family=Indie+Flower&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior:smooth;
}
